/* header start */
.startec-header{
  width: 100%;
}
.startec-header li .float-left{
  display: inline-block;
  width: 20%;
}
.startec-header li .float-right{
  display: inline-block;
  width: 20%;
}
.haeder-logo{
  width: 100%;
}
.startec-header-block{
  position: relative;
  width: 50%;
}
/* header end */
